@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
  }

  html {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between;
  }
  .flex-between-center {
    @apply flex justify-between items-center;
  }
  .flex-align {
    @apply flex items-center;
  }
  .flex-column {
    @apply flex flex-col;
  }
  .flex-column-between {
    @apply flex flex-col justify-between;
  }
  .flex-column-align {
    @apply flex flex-col items-center;
  }
}
