@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/NotoSansKR-Regular.ttf') format('truetype');
  }

  html {
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex justify-between;
  }
  .flexBetweenCenter {
    @apply flex items-center justify-between;
  }
  .flexAlign {
    @apply flex items-center;
  }
  .flexColumn {
    @apply flex flex-col;
  }
  .flexColumnBetween {
    @apply flex flex-col justify-between;
  }
  .flexColumnAlign {
    @apply flex flex-col items-center;
  }
}
